*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #D2BE96;
    font-family: 'Montserrat';
    z-index: 2;
}

.logo{
    color:#604020;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index: 2;
    
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color:#604020;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
    

}
#proizvodi{
    color: white;
}
.nav-links a:hover{
    color: white;
}
.fon{
    display: none;
    cursor: pointer;
}

.fon div{
    width: 25px;
    height: 3px;
    background-color:#604020;
    margin: 5px;
    transition: all 0.3s ease ;
}

@media all and (max-width:1550px){
    .nav-links{
        width: 60%;
        pointer-events: all;
    }
    
    
}


@media all and (max-width:768px){
   
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #D2BE96;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        transition: transform 0.5s ease-in;
        opacity: 0;
        pointer-events: none;
    }
    .logo{
        font-size: 20px;
    }
    .nav-links li{
        opacity: 0;
    }
    .fon{
        display: block;
    }

}


.nav-active{
    opacity: 1;
    pointer-events: all;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }to{
        opacity: 1;
        transform: translateX(0px);
    
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://t4.ftcdn.net/jpg/02/87/69/55/360_F_287695520_GagNdRjB27CPiq5XDCdJIFMiT0So0gw7.jpg");

}

.tataDiv{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
    justify-content: space-around;
    max-width:1400px;
    margin:0 auto;
    
}
.div1{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 400px;
    flex-basis: 400px;
    margin: 1em;
    text-align: center;
    z-index: 1;
    transition: 0.3s;
}
.div11{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /* flex-basis: 400px; */
    text-align: center;
    z-index: 1;
    background: url("https://sc01.alicdn.com/kf/UTB8RY4FkHnJXKJkSahGq6xhzFXa6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.div1 h3{
    padding-top: 10px;
}
.div2{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 400px;
    flex-basis: 400px;
    margin: 1em;
    text-align: center;
    z-index: 1;
    transition: 0.3s;
}
.div21{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /* flex-basis: 400px; */
    text-align: center;
    z-index: 1;
    background: url("https://4.bp.blogspot.com/-4Y480ZihrDI/WxmCFA2FmsI/AAAAAAAABjQ/tJvlu6TB8ZIRexrEUBnB74W79DX9WBwngCLcBGAs/s1600/domaca%2Bpita.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.div2 h3{
    padding-top: 10px;
}
.div3{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 400px;
    flex-basis: 400px;
    margin: 1em;
    text-align: center;
    z-index: 1;
    transition: 0.3s;
}
.div31{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /* flex-basis: 200px; */
    text-align: center;
    z-index: 1;
    background: url("https://www.ambitiouskitchen.com/wp-content/uploads/2019/04/Multi-Grain-Seedy-Sandwich-Bread-Edited-5sq.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.div3 h3{
    padding-top: 10px;
}
.div4{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 400px;
    flex-basis: 400px;
    margin: 1em;
    text-align: center;
    z-index: 1;
    transition: 0.3s;
}
.div41{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /* flex-basis: 400px; */
    text-align: center;
    z-index: 1;
    background: url("https://restoransevernakapija.rs/files/60a7e222-d78b-4823-8bf4-f0c00e87c4fe.cms.gif");
    background-size: contain;
    background-repeat: no-repeat;
}
.div4 h3{
    padding-top: 10px;
}
.div5{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 400px;
    flex-basis: 400px;
    margin: 1em;
    text-align: center;
    z-index: 1;
    transition: 0.3s;
}
.div51{
    background-color: #D2BE96;
    color: black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    /* flex-basis: 400px; */
    text-align: center;
    z-index: 1;
    background: url("https://39bakers.com/wp-content/uploads/2019/07/chocolate-pastry-01-A-300x300.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.div5 h3{
    padding-top: 10px;
}
.tataDiv div:hover{
    color: white;
    cursor: pointer;
} 
.div1:hover{
    transform: translateY(-15px);
}
.div2:hover{
    transform: translateY(-15px);
}
.div3:hover{
    transform: translateY(-15px);
}
.div4:hover{
    transform: translateY(-15px);
}
.div5:hover{
    transform: translateY(-15px);
}